:root {
    --red: #6E0F10;
    --red-hover: #370808;
    --white-color: rgb(228, 226, 226);
    --white-colo-hover: rgb(170, 167, 167);
    --font-color: #6D6F71;
    --black: black;

}
/* === (swiper) === */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

body {
    color: var(--white-color);
}

.btn-red {
    background-color: var(--red);
    color: var(--white-color);
    transition: .2s;
}

.btn-red:hover {
    background-color: var(--red-hover);
    color: var(--white-color);
}

#header .nav-item .nav-link {
    color: var(--white-color);
}
@media (max-width: 992px) {
    #header .navbar {
        background-color: var(--black);
        color: var(--white-color);
    }
}

/* ///////////////////////////////////////////////////////////// */
/* ========================(header-section)===================== */
/* ///////////////////////////////////////////////////////////// */


#header .nav-item .nav-link:hover {
    color: var(--white-colo-hover);
}

/* ///////////////////////////////////////////////////////////// */
/* ==========================(hero-section)===================== */
/* ///////////////////////////////////////////////////////////// */

#hero {
    background-image: url("../img/Img_Hero.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black overlay with 50% opacity */
}

#hero .avatar-group {
    display: flex;
}

#hero .avatar-group .avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: -10px;
    border: solid #ccc;
}

#hero .avatar-group .more-indicator {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--red);
    border: 2px solid #ccc;
    /* Add dark mode styles here if needed */
}

#hero .avatar-group .more-indicator span {
    font-weight: 500;
    color: var(--white-color);
    /* Add dark mode styles here if needed */
}

#hero .text-offWhite{
    color: var(--white-colo-hover);
}


/* ///////////////////////////////////////////////////////////// */
/* =====================(ProductsWeOffer-section)=============== */
/* ///////////////////////////////////////////////////////////// */


#ProductsWeOffer{
    background-color: var(--red);
}
#ProductsWeOffer .card{
    
    border-radius: 16px;
}
#ProductsWeOffer .card img{
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 18px;
}

/* ///////////////////////////////////////////////////////////// */
/* =====================(WhyUs-section)========================= */
/* ///////////////////////////////////////////////////////////// */

#WhyUs video{
    border-radius: 16px;
}
#WhyUs .video-container {
    position: relative;
    width: 100%;
}

#WhyUs .video-container video {
    width: 100%;
}

/* .video-container {
    position: relative;
    width: 100%;
}

.video-container video {
    width: 100%;
} */

#WhyUs .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#WhyUs .play-button i {
    color: var(--red); /* Change the color of the play icon */
}
 
#WhyUs .circle {
    background-color: #DFDCFC; 
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 70px;
    text-align: center;
    align-content: center;
    color: #473BF0;
    
}

